* {
  background-color: rgb(241, 241, 241);
  color: rgba(10, 1, 26, 0.8);
  text-align: center;
}

html {
  width: 100vw;
  overflow-x: hidden;
}

.container {
  width: 50%;
  margin: 0 auto;
}

.res{
  text-align: left;
  display: flex;
  margin: 0;
}

.res input{
  align-self: center;
}
